<ion-view cache-view="false">
    <ion-content>
        <div class="pageTitle" style="color:#999;">Language</div>
        <div class="pageView">
            <ion-radio class="languageItem" ng-repeat="x in languages" ng-value="{{x.langCode}}" nav-direction="forward" ng-click="langClick($index,x)">{{x.langName}}</ion-radio>
        </div>
    </ion-content>
</ion-view>