<ion-view cache-view="false">
    <ion-content>
        <div class="pageView">
            <div class="headerTitle">Select Product</div>
            <ion-list>
                <ion-item class="productItem terumoGreen" ng-repeat="x in products" ng-value="{{x.shortName}}" nav-direction="forward" ng-click="prodClick(x)">{{x.fullName}}</ion-item>
            </ion-list>
        </div>
    </ion-content>
    <div class="pageFooter">
        <span ng-click="recentlyViewed()">Recently Viewed <i class="icon ion-arrow-up-b"></i></span>
    </div>
</ion-view>