<ion-view title="Search" cache-view="false">
    <div class="toTop" ng-click="$broadcast('scrolltotop')">
        <i class="icon ion-arrow-up-c terumoGreen"></i>
    </div>
    <ion-content scrollposition delegate-handle="alarmList">
        <div class="customHeader" searchheader>
            <div class="pageTitle" nav-direction="back" ng-click="backVer()"><i class="icon ion-chevron-left"></i> {{versionObj.fullName}}</div>

            <div class="pageTitle pull-right" ng-click="showSettings()"><i class="icon ion-gear-b"></i> Settings</div>
            <div style="clear:both;"></div>
        </div>
        <div class="customContent">
            <div class="searchBox">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon terumoGreen"></i>
                    <input class="terumoGreen" type="text" placeholder="Search..." ng-model="search" ng-focus="$emit('hideheader')" ng-blur="$emit('showheader')">
                </label>
            </div>
            <ion-list class="alarmList">
                <ion-item class="alarmItem" ng-repeat="x in filtered = (alarmNames | filter : search | alarmNameFilter: searchFilters[productObj.shortName] | limitTo: limitNumber)" ng-click="alarmClick(x,search)" nav-direction="forward">
                    <span style="font-size:1.5em;color:#009a44;" ng-if="x.number">{{x.number}} </span>
                    <img ng-if="x.image" ng-src="{{x.image}}" class="scale_inline">
                    <span style="font-size:1.5em;color:#009a44;" ng-if="x.name == ' '">{{x.enumerator}}</span>
                    <span style="font-size:1.5em;color:#009a44;" ng-if="x.name !== ' '">{{x.name}}</span>
                    <br>
                    <span style="font-size:1em;color:#444;"> ({{x.enumerator}})</span>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="filtered.length>=50 && filtered.length < (alarmNames | filter : search | alarmNameFilter: searchFilters[productObj.shortName]).length" immediate-check="false" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
        </div>
    </ion-content>
    <script id="settings.html" type="text/ng-template">
        <ion-modal-view>
            <ion-content>
                <div class="pageView">
                    <div>
                        <span class="pageTitle">
                       Settings
                        </span>
                        <span class="pageTitle pull-right terumoGreen" ng-click="hideSettings()"><i class="icon ion-arrow-up-b"></i> Hide</span>
                        <div style="clear:both;"></div>
                    </div>
                    <label class="item item-input item-select settingsPageSelect">
                        <div class="input-label">
                            Change Language
                        </div>
                        <select ng-model="selectedLanguage" ng-options="l.langName for l in languages" ng-change="changeLang(selectedLanguage,false)"></select>
                    </label>
                    <ion-toggle toggle-class="toggle-terumo" ng-model="s.checked" ng-repeat="s in searchFilters[productObj.shortName]" ng-checked="s.checked">
                        Show {{s.name}} alarms
                    </ion-toggle>
<!--                                        <ion-checkbox ng-model="s.checked" ng-repeat="s in searchFilters[productObj.shortName]" ng-checked="s.checked">
                        Show {{s.name}} alarms
                    </ion-checkbox>-->
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>