<ion-view title="Alarm" cache-view="false">
    <table class="alarmHeader" alarmheader>
        <tr>
            <td class="pageTitle" nav-direction="back" ng-click="backSearch(x)"><i class="icon ion-arrow-left-c"></i> Done</td>
            <td>
                <label class="item-select">
                    <select ng-model="selectedLanguage" ng-options="l.langName for l in languages" ng-change="changeLang(selectedLanguage,true)"></select>
                </label>
            </td>
        </tr>
    </table>
    <ion-content class="alarmInfo">
        <div class="alarmTitle">{{currentAlarm[0].name}}</div>
        <ion-slide-box active-slide="activeTabIndex" on-slide-changed="slideHasChanged($index)" show-pager="false">
            <ion-slide>
                <div class="box">

                    <div class="alarmBody">
                        <div ng-if="currentAlarm[0].explanation" ng-bind-html="currentAlarm[0].explanation | nl2br"></div>
                        <br>
                        <dl>
                            <dt ng-if="currentAlarm[0].cause0" ng-bind-html="currentAlarm[0].cause0 | nl2br">{{currentAlarm[0].cause0}}<br></dt>
                            <dd ng-if="currentAlarm[0].action0">
                                <div ng-bind-html="currentAlarm[0].action0 | nl2br">{{currentAlarm[0].action0}}</div>
                                <br>
                            </dd>
                            <dt ng-if="currentAlarm[0].cause1" ng-bind-html="currentAlarm[0].cause1 | nl2br">{{currentAlarm[0].cause1}}<br></dt>
                            <dd ng-if="currentAlarm[0].action1">
                                <div ng-bind-html="currentAlarm[0].action1 | nl2br">{{currentAlarm[0].action1}}</div>
                                <br>
                            </dd>
                            <dt ng-if="currentAlarm[0].cause2" ng-bind-html="currentAlarm[0].cause2 | nl2br">{{currentAlarm[0].cause2}}<br></dt>
                            <dd ng-if="currentAlarm[0].action2">
                                <div ng-bind-html="currentAlarm[0].action2 | nl2br">{{currentAlarm[0].action2}}</div>
                                <br>
                            </dd>
                            <dt ng-if="currentAlarm[0].cause3" ng-bind-html="currentAlarm[0].cause3 | nl2br">{{currentAlarm[0].cause3}}<br></dt>
                            <dd ng-if="currentAlarm[0].action3">
                                <div ng-bind-html="currentAlarm[0].action3 | nl2br">{{currentAlarm[0].action3}}</div>
                                <br>
                            </dd>
                            <dt ng-if="currentAlarm[0].cause4" ng-bind-html="currentAlarm[0].cause4 | nl2br">{{currentAlarm[0].cause4}}<br></dt>
                            <dd ng-if="currentAlarm[0].action4">
                                <div ng-bind-html="currentAlarm[0].action4 | nl2br">{{currentAlarm[0].action4}}</div>
                                <br>
                            </dd>
                            <dt ng-if="currentAlarm[0].cause5" ng-bind-html="currentAlarm[0].cause5 | nl2br">{{currentAlarm[0].cause5}}<br></dt>
                            <dd ng-if="currentAlarm[0].action5">
                                <div ng-bind-html="currentAlarm[0].action5 | nl2br">{{currentAlarm[0].action5}}</div>
                                <br>
                            </dd>
                            <dt ng-if="currentAlarm[0].cause6" ng-bind-html="currentAlarm[0].cause6 | nl2br">{{currentAlarm[0].cause6}}<br></dt>
                            <dd ng-if="currentAlarm[0].action6">
                                <div ng-bind-html="currentAlarm[0].action6 | nl2br">{{currentAlarm[0].action6}}</div>
                                <br>
                            </dd>
                        </dl>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <div class="alarmBody">
                        <table class="table table-condensed">
                            <dl>
                                <dt>{{currentAlarm[1].identification}}</dt>
                                <dd>{{currentAlarm[0].enumerator}}</dd>
                                <br/>
                                <dt>{{currentAlarm[1].layer}}</dt>
                                <dd>{{currentAlarm[0].layer}}</dd>
                                <br/>
                                <dt>{{currentAlarm[1].system}}</dt>
                                <dd>{{currentAlarm[0].system}}</dd>
                                <br/>
                                <dt>{{currentAlarm[1].protocol}}</dt>
                                <dd>{{currentAlarm[0].protocol}}</dd>
                                <br/>
                            </dl>
                        </table>
                        <table class="table table-condensed" ng-repeat="x in occurs | filter:{enumerator:stringEnumerator} : true">
                            <tr ng-if="x.start_up">
                                <th>{{currentAlarm[1].start}}</th>
                                <td><img src="graphics/regular_checkmark.png" /></td>
                            </tr>
                            <tr ng-if="x.not_connected">
                                <th style="background:#419d9d">{{currentAlarm[1].not_conn}}</th>
                                <td><img src="graphics/regular_checkmark.png" /></td>
                            </tr>
                            <tr ng-if="x.connected">
                                <th style="background:#42529a">{{currentAlarm[1].conn}}</th>
                                <td><img src="graphics/regular_checkmark.png" /></td>
                            </tr>
                            <tr ng-if="x.disconnected">
                                <th style="background:#A55486">{{currentAlarm[1].disconn}}</th>
                                <td><img src="graphics/regular_checkmark.png" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <div ng-repeat="x in troubleshooting | filter:{enumerator:stringEnumerator} : true">
                        <div class="alarmBody">
                            <dl>
                                <dt>Occurs During</dt>
                                <dd>{{x.occurs}}</dd>
                                <br/>
                                <dt>Detection</dt>
                                <dd>
                                    <p ng-repeat="y in x.detection">{{y.item}}</p>
                                </dd>
                                <br/>
                                <dt>Possible Causes</dt>
                                <dd>
                                    <ul>
                                        <li ng-repeat="y in x.causeService">{{y.item}}</li>
                                    </ul>
                                </dd>
                                <br/>
                                <dt>Suggested Actions</dt>
                                <dd>
                                    <ul>
                                        <li ng-repeat="y in x.actionService">{{y.item}}</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="alarmFooter">
        <table class="tabTable">
            <tr>
                <td ng-click="clickAlarm()" ng-class="{'terumoGreen': activeTabIndex === 0}">
                    <i class="icon ion-android-notifications"></i>
                    <br>
                    <span>Alarm</span>
                </td>
                <td ng-click="clickInfo()" ng-class="{'terumoGreen': activeTabIndex === 1}">
                    <i class="icon ion-information-circled"></i>
                    <br><span>Info</span>
                </td>
                <td ng-click="clickTrouble()" ng-class="{'terumoGreen': activeTabIndex === 2}">
                    <i class="icon ion-wrench"></i>
                    <br><span>Troubleshoot</span>
                </td>
            </tr>
        </table>
    </div>
</ion-view>