<ion-view cache-view="false">
    <ion-content>
        <div class="pageHeader">
            <div class="pageTitle" nav-direction="back" ng-click="backProd()"><i class="icon ion-chevron-left"></i> {{productObj.fullName}}</div>
        </div>
        <div class="pageView">
            <div class="selectVersion">Select Version</div>
            <hr class="terumoGreen">
            <div class="versionTitle terumoGreen">{{productObj.fullName}}</div>
            <div class="versions">
                <ion-list>
                    <ion-item class="versionItem terumoGreen" nav-direction="forward" ng-repeat="x in versions" ng-value="{{x.shortName}}" ng-click="verClick(x)">{{x.fullName}}</ion-item>
                </ion-list>
            </div>
            <hr class="terumoGreen">
        </div>
    </ion-content>
    <div class="pageFooter">
        <span ng-click="recentlyViewed()">Recently Viewed <i class="icon ion-arrow-up-b"></i></span>
    </div>
</ion-view>