<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>



    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/productController.js"></script>
    <script src="js/versionController.js"></script>
    <script src="js/languageController.js"></script>
    <script src="js/searchController.js"></script>
    <script src="js/alarmController.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/filters.js"></script>

    <script src="lib/angular-ios9-uiwebview-patch/angular-ios9-uiwebview-patch.js"></script>

</head>

<body ng-app="starter">
    <ion-nav-view></ion-nav-view>
    <script id="recently-viewed.html" type="text/ng-template">
        <ion-modal-view>
            <ion-content>
                <div class="pageView">
                    <div>
                        <span class="pageTitle">
                        Recently Viewed
                        </span>
                        <span class="pageTitle pull-right terumoGreen" ng-click="hideViewed()"><i class="icon ion-arrow-down-b"></i> Hide</span>
                        <div style="clear:both;"></div>
                    </div>
                    <button class="button button-assertive" ng-click="clear()">
                        Clear
                    </button>
                    <ion-list>
                        <ion-item ng-repeat="alarm in localAlarms" ng-click="gotoAlarm(alarm)" class="recentItem">{{alarm.product.shortName}} <i class="icon ion-chevron-right terumoGreen"></i> {{alarm.version.shortName}} <i class="icon ion-chevron-right terumoGreen"></i> {{alarm.alarmName}}
                        </ion-item>
                    </ion-list>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</body>

</html>