    /*fonts*/
    
    @font-face {
        font-family: 'TerumoBCTBold';
        src: url('../fonts/terumobct_bd-webfont.eot');
        src: url('../fonts/terumobct_bd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_bd-webfont.woff') format('woff'), url('../fonts/terumobct_bd-webfont.ttf') format('truetype'), url('../fonts/terumobct_bd-webfont.svg#TerumoBCTBold') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'TerumoBCTLight';
        src: url('../fonts/terumobct_lt-webfont.eot');
        src: url('../fonts/terumobct_lt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_lt-webfont.woff') format('woff'), url('../fonts/terumobct_lt-webfont.ttf') format('truetype'), url('../fonts/terumobct_lt-webfont.svg#TerumoBCTLight') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'TerumoBCTItalic';
        src: url('../fonts/terumobct_rgit-webfont.eot');
        src: url('../fonts/terumobct_rgit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_rgit-webfont.woff') format('woff'), url('../fonts/terumobct_rgit-webfont.ttf') format('truetype'), url('../fonts/terumobct_rgit-webfont.svg#TerumoBCTItalic') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'TerumoBCTRegular';
        src: url('../fonts/terumobct_rg-webfont.eot');
        src: url('../fonts/terumobct_rg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_rg-webfont.woff') format('woff'), url('../fonts/terumobct_rg-webfont.ttf') format('truetype'), url('../fonts/terumobct_rg-webfont.svg#TerumoBCTRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'TerumoBCTBoldItalic';
        src: url('../fonts/terumobct_bdit-webfont.eot');
        src: url('../fonts/terumobct_bdit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_bdit-webfont.woff') format('woff'), url('../fonts/terumobct_bdit-webfont.ttf') format('truetype'), url('../fonts/terumobct_bdit-webfont.svg#TerumoBCTBoldItalic') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'TerumoBCTThin';
        src: url('../fonts/terumobct_th-webfont.eot');
        src: url('../fonts/terumobct_th-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_th-webfont.woff') format('woff'), url('../fonts/terumobct_th-webfont.ttf') format('truetype'), url('../fonts/terumobct_th-webfont.svg#TerumoBCTThin') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        font-family: 'TerumoBCTRegular' !important;
        color: #444;
        font-size: 14px;
    }
    
    @media only screen and (max-device-width: 480px) {
        html,
        body {
            font-size: .75em;
        }
        .searchBox input {
            font-size: 1.5em;
        }
    }
    
    hr {
        color: #bbb;
    }
    /*override item for selects*/
    
    .item {
        border: 0;
        margin: 0;
    }
    /*select for settings page*/
    
    .settingsPageSelect {
        border: 1px solid #ddd;
        margin: 1%;
    }
    /*alarm, info, troubleshoot slide box*/
    
    .alarmInfo {
        padding: 3%;
    }
    
    .box {
        position: relative;
    }
    /*page view*/
    
    .pageView {
        padding: 3%;
        position: relative;
    }
    
    .alignRight {
        right: 0;
        position: absolute;
    }
    
    .headerTitle {
        font-size: 3em;
        padding: 4% 1.5%;
        border-bottom: 2px solid #009a44;
    }
    
    .productItem {
        font-family: "TerumoBCTBold";
        font-size: 2em;
        padding: 4% 1.5%;
        border-bottom: 2px solid;
    }
    /*page footer*/
    
    .pageFooter {
        position: absolute;
        width: 100%;
        border-top: 1px solid #bbb;
        background: #ddd;
        bottom: 0;
        padding: 2% 5%;
        font-size: 1.5em;
    }
    
    .pageHeader {
        position: relative;
        background: #ddd;
        color: #444;
    }
    
    .pageTitle {
        font-size: 2em;
        padding: 2%;
        display: inline-block;
    }
    
    .selectVersion {
        font-size: 3em;
        padding: 3% 0;
    }
    
    .versionTitle {
        font-family: "TerumoBCTBold";
        font-size: 2em;
        padding: 3% 0;
    }
    
    .versionItem {
        font-size: 2em;
        padding: 3%;
    }
    /*slide header up on search*/
    
    .customHeader {
        background: #ddd;
        color: #444;
        border-bottom: 1px solid #b2b2b2;
    }
    
    .customContent {
        transition: all .25s;
    }
    
    .pull-right {
        float: right;
    }
    
    .searchBox {
        padding: 3%;
        background: #009a44;
    }
    
    .searchBox input {
        height: auto;
        font-size: 2em;
        line-height: inherit;
    }
    
    .searchBox .icon {
        font-size: 2em;
    }
    
    input::-webkit-input-placeholder {
        color: #009a44;
    }
    /*language*/
    
    .languageItem {
        font-size: 2.5em;
        border-top: 1px solid #ddd;
        color: #aaa;
    }
    
    .languageIcon .icon {
        font-size: 2.5em;
    }
    /*alarms*/
    
    .alarmItem {
        /*background: rgba(0, 154, 68, 0.1);*/
        background: #eee;
        margin: 2% 3%;
        border-color: #ccc;
        border-style: solid;
        border-width: 1px 1px 3px 1px;
    }
    
    .alarmBody {
        font-size: 1.5em;
    }
    
    .alarmTitle {
        font-size: 3em;
        margin-bottom: 20px;
        line-height: 1em;
    }
    
    .alarmFooter {
        position: absolute;
        width: 100%;
        border-top: 1px solid #bbb;
        background: #ddd;
        bottom: 0;
        padding: 1% 2%;
        font-size: 1.5em;
    }
    
    .alarmHeader {
        width: 100%;
        position: relative;
        background: #ddd;
        color: #444;
    }
    
    .alarmHeader .item-select {
        position: inherit;
    }
    
    .alarmHeader .item-select select {
        font-size: 1.5rem;
        background: #ddd;
    }
    
    .alarmHeader .item-select option {
        background: #fff;
    }
    
    .tabTable {
        table-layout: fixed;
        width: 100%;
        text-align: center;
    }
    
    .tabTable td:not(:last-child) {
        border-right: 1px solid #444;
    }
    /*recently viewed*/
    
    .recentItem {
        background: #ddd;
        margin: 2% 3%;
        border-color: #888;
        border-style: solid;
        border-width: 0 0 3px 3px;
    }
    /*to top button*/
    
    .toTop {
        position: fixed;
        right: 5%;
        top: 5%;
        font-size: 4em;
        padding: 1% 2.5%;
        background: rgba(68, 68, 68, 0.1);
        border: 2px solid #bbb;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: all .5s;
        z-index: 100000;
    }
    
    .toTopShow {
        opacity: 1;
        visibility: visible;
    }
    /*colors*/
    
    .spinner-android,
    .spinner-ios {
        stroke: #009a44;
    }
    
    .terumoGreen {
        color: #009a44 !important;
    }
    
    .activated {
        color: #009a44 !important;
    }
    
    .slide-in-down {
        transform: translate3d(0px, -125%, 0px);
    }
    
    .slide-in-down.ng-enter-active,
    .slide-in-down > .ng-enter-active {
        transform: translate3d(0px, 0px, 0px);
    }
    
    .slide-in-down.ng-enter,
    .slide-in-down > .ng-enter {
        transition: all 400ms cubic-bezier(0.1, 0.7, 0.1, 1) 0s;
    }
    
    .slide-in-down.ng-leave,
    .slide-in-down > .ng-leave {
        transition: all 250ms ease-in-out 0s;
    }